<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="WcfService.Properties.Settings.ChessDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\USERS\IDANP\SOURCE\REPOS\PROJECTPERITZ\VIEWMODEL\ChessDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>