<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="LargeBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
				 sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
				 maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
					 maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<services>
			<service name="WcfService.ChessServiceAdmin">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeBinding"
				 contract="WcfService.IChessServiceAdmin">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses/WcfService/ChessServiceAdmin/" />
					</baseAddresses>
				</host>
			</service>			
			<service name="WcfService.ChessServiceUser">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeBinding"
					contract="WcfService.IChessServiceUser">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses/WcfService/ChessServiceUser/" />
					</baseAddresses>
				</host>
			</service>		
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
					<!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>